:root {
  --primary: #ea625c;
  --primary-dark: #c9514c;
  --text-color: #333;
}

/* GLOBAL */
html {
box-sizing: border-box;
height: 100%;
scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
display: flex;
flex-direction: column;
height: 100%;
padding: 0;
margin: 0;
font-family: "Roboto", "Arial", sans-serif;
font-size: 16px;
line-height: 1.5;
background-color: #fff;
color: var(--text-color);
}

img {
max-width: 100%;
height: auto;
}

*:focus {
  outline: 2px dashed var(--primary);
  outline-offset: 2px;
}


/* CONTAINER */
.container {
width: 100%;
max-width: 1100px;
padding-left: 50px;
padding-right: 50px;
margin-left: auto;
margin-right: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 12px 38px;
  border: 0;
  background-color: var(--primary);
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease;
  }

.button:hover {
  background-color: var(--primary-dark);
}

.button:active {
  opacity: 0.6;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}

.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}

/* SITENAV */
.sitenav {
  margin-right: 40px;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 30px;
}

.sitenav-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  transition: border-bottom 0.3s aese ;
}

.sitenav-link:hover {
  border-bottom: 3px solid #333;
}

/* SEARCH-FORM */
.search-form-input {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #333;
}

/* HERO */
.hero {
  padding-top: 140px;
  padding-bottom: 185px;
  border-bottom: 2px solid #ddd;
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 550px) bottom;
}

/* LEAD-CTA */
.lead-cta {
  width: 100%;
  max-width: 490px;
}

.lead-cta-heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
}

.lead-cta-text {
  padding-left: 37px;
  border-left: 3px solid #888;
  margin-top: 0;
  margin-bottom: 30px;
  color: #777;
}

/* RETINA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero {
    background-image: url(../img/intro-bg@2x.jpg);
  }

}




























/* FEATURES */
/* .features-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.features-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.features-list-item {
  width: 100%;
  max-width: 280px;
}

.features-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.features-list-title-link {
  text-decoration: none;
  color: #222;
}

.features-list-title-link:hover {
  color: var(--accent-color);
}

.features-list-title-link:active {
  opacity: 0.6;
}


.features-list-text {
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.features-link {
  display: flex;
  justify-content: space-between;
  width: 44px;
}

.features-link-item {
  width: 8px;
  border: 4px solid #ddd;
}

.features-learn-more-wrapper {
  display: inline-block;
}

.features-learn-more-link {
  display: flex;
  text-decoration: none;
}

.features-learn-more-link:hover {
  opacity: 0.8;
}

.features-learn-more-link:active {
  opacity: 0.6;
}

.features-list-link-wrapper {
  display: flex;
}

.features-red-line-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.features-red-line {
  width: 40px;
  border-bottom: 3px solid var(--accent-color);
}

.features-learn-more-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}
 */

/* SALE-SECTION */
/* .sale-content-wrapper {
  display: flex;
  align-items: center;
}

.sale-container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.sale-content-heading {
  width: 380px;
  padding: 0;
}

.sale-content-heading-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.sale-content-heading-link:hover {
  color: var(--accent-color);
}

.sale-content-heading-link:active {
  color: var(--accent-color);
  opacity: 0.6;
}

.seale-content-text {
  color: #777;
  border-left: 3px solid #888;
}

.sale-content-button {
  width: 260px;
  font-size: 18px;
  line-height: 27px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  color: #fff;
  background-color: var(--accent-color);
  border: 0;
}

.sale-img {
  width: 400px;
  height: 600px;
} */


/* EXPLORE */
/* .explore-section {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.explore-container {
  display: flex;
  justify-content: end;
  padding-top: 240px;
  padding-bottom: 239px;
}

.explore-content {
  width: 490px;
}

.explore-content-heading-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  --outline-color: 2px dashed #fff;
}

.explore-content-heading-link:hover {
  color: var(--accent-color);
}

.explore-content-heading-link:active {
  color: var(--accent-color);
  opacity: 0.6;

}

.explore-content-text {
  color: #fff;
  border-left: 3px solid #fff;
} */

/* RETINA BGS */
/* @media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .explore-section{
    background-image: url(../img/runners@2x.jpg);
  }
} */